/**
 *
 * Apply Here your Custom CSS
 *
*/

.table > thead > tr > td.inactive,
.table > tbody > tr > td.inactive,
.table > tfoot > tr > td.inactive,
.table > thead > tr > th.inactive,
.table > tbody > tr > th.inactive,
.table > tfoot > tr > th.inactive,
.table > thead > tr.inactive > td,
.table > tbody > tr.inactive > td,
.table > tfoot > tr.inactive > td,
.table > thead > tr.inactive > th,
.table > tbody > tr.inactive > th,
.table > tfoot > tr.inactive > th {
    background-color: #cccccc;
}
.table-hover > tbody > tr > td.inactive:hover,
.table-hover > tbody > tr > th.inactive:hover,
.table-hover > tbody > tr.inactive:hover > td,
.table-hover > tbody > tr.inactive:hover > th {
  background-color: #cccccc;
}